In [7]:
import requests
import json
import pandas
import time
from datetime import datetime


def acceso(usuario="USUARIO",contraseña="CONTRASEÑA"):
    return json.loads(requests.post("https://api.invertironline.com/token",data={
        "username":usuario,
        "password":contraseña,
        "grant_type":"password"        
    }).text)["access_token"]

In [8]:
def vender(simbolo,precio,cantidad):
    return requests.post("https://api.invertironline.com/api/v2/operar/Vender",headers={"Authorization":"Bearer "+acceso()}, data={
        "mercado":"bCBA",
        "simbolo":simbolo,
        "cantidad":cantidad,
        "precio":precio,
        "validez":"2019-04-30",
        "plazo":"t1"
    }).text

def comprar(simbolo,precio,cantidad):
    return requests.post("https://api.invertironline.com/api/v2/operar/Comprar",headers={"Authorization":"Bearer "+acceso()}, data={
        "mercado":"bCBA",
        "simbolo":simbolo,
        "cantidad":cantidad,
        "precio":precio,
        "validez":"2019-04-30",
        "plazo":"t1"

    }).text

In [9]:
def intradia(simbolo):
    import pandas as pd

    url_idTitulo = 'https://www.invertironline.com/api/cotizaciones/idtitulo?simbolo='+simbolo+'&mercado=BCBA'
    idTitulo = requests.get( url = url_idTitulo , headers = {
        'simbolo':simbolo,
        'mercado':'BCBA'
        } )
    _id = str(idTitulo.text)
    url = "https://www.invertironline.com/Titulo/GraficoIntradiario?idTitulo="+_id+"&idTipo=4&idMercado=1"
    dato = requests.get( url , headers = {
        'idTitulo': _id,
        'idTipo': '4',
        'idMercado': '1'
        } )
    #print(dato.text)
    tabla = json.loads(dato.text)
    hora = []
    precio = []
    volumen = []
    for data in tabla:
        fechahora = data["FechaHora"]
        fh = datetime.utcfromtimestamp(fechahora).strftime('%d-%m-%Y %H:%M:%S')
        hora.append(fh)
        precio.append(data["Ultima"])
        volumen.append(data["CantidadNominal"])
    dataset = {"Hora":hora,"Precio":precio,"Volumen":volumen}
    dataset = pd.DataFrame(dataset , columns=["Hora","Precio","Volumen"])
    return dataset

intradia("GGAL")

                    Hora  Precio  Volumen
0    24-04-2019 11:00:26  101.00     18.0
1    24-04-2019 11:00:26  101.00      7.0
2    24-04-2019 11:00:27  101.00     13.0
3    24-04-2019 11:00:27  101.00      1.0
4    24-04-2019 11:00:27  101.00     96.0
5    24-04-2019 11:00:27  101.00     30.0
6    24-04-2019 11:00:27  101.00     96.0
7    24-04-2019 11:00:28  101.00     13.0
8    24-04-2019 11:01:27  100.50    100.0
9    24-04-2019 11:01:34  100.00     19.0
10   24-04-2019 11:01:38   99.90    100.0
11   24-04-2019 11:01:38  100.00      1.0
12   24-04-2019 11:01:38  100.00   1000.0
13   24-04-2019 11:01:38  100.00    100.0
14   24-04-2019 11:01:38  100.00      1.0
15   24-04-2019 11:01:43   99.30    135.0
16   24-04-2019 11:01:46  100.00    180.0
17   24-04-2019 11:01:46  100.00   1747.0
18   24-04-2019 11:01:46   99.50   3378.0
19   24-04-2019 11:01:49  100.00    639.0
20   24-04-2019 11:01:49  100.00    350.0
21   24-04-2019 11:01:49  100.00    477.0
22   24-04-2019 11:01:49  100.00    120.0
23   24-04-2019 11:02:00  100.00    111.0
24   24-04-2019 11:02:02  100.50   5000.0
25   24-04-2019 11:02:06  100.00    500.0
26   24-04-2019 11:02:11  100.00     85.0
27   24-04-2019 11:02:16  100.00     50.0
28   24-04-2019 11:02:22  100.00    277.0
29   24-04-2019 11:02:32  100.00      5.0
..                   ...     ...      ...
637  24-04-2019 12:44:08   99.80     51.0
638  24-04-2019 12:44:10   99.80    549.0
639  24-04-2019 12:44:17   99.75    886.0
640  24-04-2019 12:44:22   99.70   1003.0
641  24-04-2019 12:44:26   99.70      9.0
642  24-04-2019 12:44:43   99.65    100.0
643  24-04-2019 12:44:56   99.75    490.0
644  24-04-2019 12:45:10   99.70    500.0
645  24-04-2019 12:45:14   99.75     18.0
646  24-04-2019 12:45:17   99.75    291.0
647  24-04-2019 12:45:20   99.65     75.0
648  24-04-2019 12:45:20   99.65    250.0
649  24-04-2019 12:45:20   99.65    150.0
650  24-04-2019 12:45:23   99.60   5000.0
651  24-04-2019 12:45:27   99.60   5000.0
652  24-04-2019 12:45:28   99.60    100.0
653  24-04-2019 12:45:28   99.60   5000.0
654  24-04-2019 12:45:29   99.55   5000.0
655  24-04-2019 12:45:29   99.60   5000.0
656  24-04-2019 12:45:45   99.55    100.0
657  24-04-2019 12:45:47   99.60     55.0
658  24-04-2019 12:46:15   99.60    220.0
659  24-04-2019 12:46:15   99.55    280.0
660  24-04-2019 12:46:27   99.85    500.0
661  24-04-2019 12:46:47   99.90    500.0
662  24-04-2019 12:46:47   99.90    452.0
663  24-04-2019 12:46:47   99.90    452.0
664  24-04-2019 12:46:47   99.90   3000.0
665  24-04-2019 12:46:52  100.00   2170.0
666  24-04-2019 12:46:52   99.95     50.0

[667 rows x 3 columns]

In [10]:
intradia("BMA")

                    Hora  Precio  Volumen
0    24-04-2019 11:00:09  195.00    100.0
1    24-04-2019 11:00:09  195.00     13.0
2    24-04-2019 11:00:09  195.00     22.0
3    24-04-2019 11:00:09  195.00     50.0
4    24-04-2019 11:00:09  195.00      5.0
5    24-04-2019 11:00:09  195.00     99.0
6    24-04-2019 11:00:09  195.00      1.0
7    24-04-2019 11:00:10  195.00    100.0
8    24-04-2019 11:02:56  193.00     80.0
9    24-04-2019 11:03:11  194.50     30.0
10   24-04-2019 11:03:11  194.00     30.0
11   24-04-2019 11:05:28  193.00     47.0
12   24-04-2019 11:05:28  193.30     23.0
13   24-04-2019 11:05:33  194.00    100.0
14   24-04-2019 11:06:07  193.00    350.0
15   24-04-2019 11:06:07  193.00     80.0
16   24-04-2019 11:07:04  192.00     35.0
17   24-04-2019 11:07:39  192.00     34.0
18   24-04-2019 11:07:39  192.00     15.0
19   24-04-2019 11:07:50  193.00     43.0
20   24-04-2019 11:07:50  193.00     70.0
21   24-04-2019 11:08:16  193.00    100.0
22   24-04-2019 11:08:38  193.00    147.0
23   24-04-2019 11:08:45  193.00    300.0
24   24-04-2019 11:08:49  193.00     50.0
25   24-04-2019 11:09:06  193.00     38.0
26   24-04-2019 11:09:09  193.00    588.0
27   24-04-2019 11:09:16  193.00    100.0
28   24-04-2019 11:09:26  193.00     20.0
29   24-04-2019 11:10:01  193.00    100.0
..                   ...     ...      ...
104  24-04-2019 12:20:23  192.50     18.0
105  24-04-2019 12:20:26  192.50   2682.0
106  24-04-2019 12:20:27  192.50   2700.0
107  24-04-2019 12:20:32  192.50  10000.0
108  24-04-2019 12:22:10  192.20    400.0
109  24-04-2019 12:22:10  192.30    600.0
110  24-04-2019 12:22:34  192.00    900.0
111  24-04-2019 12:22:34  192.20    100.0
112  24-04-2019 12:22:43  192.50     60.0
113  24-04-2019 12:23:05  192.00   4900.0
114  24-04-2019 12:23:05  192.00   1100.0
115  24-04-2019 12:23:52  192.00    600.0
116  24-04-2019 12:23:54  192.00    600.0
117  24-04-2019 12:23:55  192.00   2000.0
118  24-04-2019 12:23:55  192.00   2000.0
119  24-04-2019 12:23:56  192.00   2000.0
120  24-04-2019 12:24:19  191.80     10.0
121  24-04-2019 12:24:38  191.65     16.0
122  24-04-2019 12:24:48  191.25      6.0
123  24-04-2019 12:24:49  191.25     84.0
124  24-04-2019 12:25:03  191.60     46.0
125  24-04-2019 12:25:29  191.60    200.0
126  24-04-2019 12:25:30  191.00      1.0
127  24-04-2019 12:28:20  191.00     75.0
128  24-04-2019 12:28:20  190.95    459.0
129  24-04-2019 12:29:02  191.00    516.0
130  24-04-2019 12:32:28  191.50     28.0
131  24-04-2019 12:32:28  191.50    152.0
132  24-04-2019 12:33:19  192.50   8067.0
133  24-04-2019 12:35:56  193.00      4.0

[134 rows x 3 columns]

In [11]:
condicion=True
while condicion:
    data = intradia("GGAL")
    precio=data["Precio"].tolist()
    if precio[-1]<=100:
        operacion=comprar("GGAL","100","100")
        print(operacion)
        print("Exito!! compra de GGAL en $100")
        condicion=False
    time.sleep(5)

{
  "ok": false,
  "messages": [
    {
      "title": "",
      "description": "La operatoria no se encuentra habilitada."
    }
  ]
}
Exito!! compra de GGAL en $100

In [12]:
data=intradia("GGAL")
data

                    Hora  Precio  Volumen
0    24-04-2019 11:00:26  101.00     18.0
1    24-04-2019 11:00:26  101.00      7.0
2    24-04-2019 11:00:27  101.00     13.0
3    24-04-2019 11:00:27  101.00      1.0
4    24-04-2019 11:00:27  101.00     96.0
5    24-04-2019 11:00:27  101.00     30.0
6    24-04-2019 11:00:27  101.00     96.0
7    24-04-2019 11:00:28  101.00     13.0
8    24-04-2019 11:01:27  100.50    100.0
9    24-04-2019 11:01:34  100.00     19.0
10   24-04-2019 11:01:38   99.90    100.0
11   24-04-2019 11:01:38  100.00      1.0
12   24-04-2019 11:01:38  100.00   1000.0
13   24-04-2019 11:01:38  100.00    100.0
14   24-04-2019 11:01:38  100.00      1.0
15   24-04-2019 11:01:43   99.30    135.0
16   24-04-2019 11:01:46  100.00    180.0
17   24-04-2019 11:01:46  100.00   1747.0
18   24-04-2019 11:01:46   99.50   3378.0
19   24-04-2019 11:01:49  100.00    639.0
20   24-04-2019 11:01:49  100.00    350.0
21   24-04-2019 11:01:49  100.00    477.0
22   24-04-2019 11:01:49  100.00    120.0
23   24-04-2019 11:02:00  100.00    111.0
24   24-04-2019 11:02:02  100.50   5000.0
25   24-04-2019 11:02:06  100.00    500.0
26   24-04-2019 11:02:11  100.00     85.0
27   24-04-2019 11:02:16  100.00     50.0
28   24-04-2019 11:02:22  100.00    277.0
29   24-04-2019 11:02:32  100.00      5.0
..                   ...     ...      ...
637  24-04-2019 12:44:08   99.80     51.0
638  24-04-2019 12:44:10   99.80    549.0
639  24-04-2019 12:44:17   99.75    886.0
640  24-04-2019 12:44:22   99.70   1003.0
641  24-04-2019 12:44:26   99.70      9.0
642  24-04-2019 12:44:43   99.65    100.0
643  24-04-2019 12:44:56   99.75    490.0
644  24-04-2019 12:45:10   99.70    500.0
645  24-04-2019 12:45:14   99.75     18.0
646  24-04-2019 12:45:17   99.75    291.0
647  24-04-2019 12:45:20   99.65     75.0
648  24-04-2019 12:45:20   99.65    250.0
649  24-04-2019 12:45:20   99.65    150.0
650  24-04-2019 12:45:23   99.60   5000.0
651  24-04-2019 12:45:27   99.60   5000.0
652  24-04-2019 12:45:28   99.60    100.0
653  24-04-2019 12:45:28   99.60   5000.0
654  24-04-2019 12:45:29   99.55   5000.0
655  24-04-2019 12:45:29   99.60   5000.0
656  24-04-2019 12:45:45   99.55    100.0
657  24-04-2019 12:45:47   99.60     55.0
658  24-04-2019 12:46:15   99.60    220.0
659  24-04-2019 12:46:15   99.55    280.0
660  24-04-2019 12:46:27   99.85    500.0
661  24-04-2019 12:46:47   99.90    500.0
662  24-04-2019 12:46:47   99.90    452.0
663  24-04-2019 12:46:47   99.90    452.0
664  24-04-2019 12:46:47   99.90   3000.0
665  24-04-2019 12:46:52  100.00   2170.0
666  24-04-2019 12:46:52   99.95     50.0

[667 rows x 3 columns]

In [ ]:
data["Precio"]

In [ ]:
data["Precio"].tolist()[-1]